body {
  padding: 4.5%;
}

a {
  text-decoration: none;
  color: black;
}

.span {
  display: inline;
  padding: 3px;
}

header {
  display: flex;
  height: 7vw;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 10px 5px -5px #e3e8ef;
  padding: 0px 10px 10px 0px;
  align-items: center;
}

header img[src="images/city.png"] {
  width: 6vw;
  height: auto;
}

header h1 {
  flex-grow: 10;
  text-align: center;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 5vw;
}

table {
  width: 100%;
}

.weather-info>img {
  width: 17%;
  height: auto;
}

.weather-info>h3 {
  font-size: 3vw;
}

.weather-info {
  display: flex;
  width: 100%;
}

.total-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

div.item {
  border: 1px white;
  width: 20%;
  height: auto;
}

div.item img {
  width: 65%;
  height: auto;
}

div.desc {
  font-size: 2vw;
  text-align: left;
  padding: 2vw;
}

.navbar a {
  display: inline-block;
  height: 4vw;
  width: 24%;
  margin: 10px 0px;
  padding: 10px 0px 0px 0px;
  text-align: center;
  font-size: 2vw;
}

.main-news {
  border: 0.2px solid #e3e8ef;
  padding: 0px;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;
}

.main-news img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-news-text {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  padding: 1vw 1vw;
}

.main-news-text>h3 {
  color: #999999;
  font-size: 2vw;
}

.main-news-text>p {
  color: #C0C0C0;
  font-size: 1.3vw;
}

.more {
  float: right;
  font-size: 1.5vw;
}

.top-news-item {
  border-bottom: 1px solid #e3e8ef;
  border-top: 1px solid #e3e8ef;
  padding: 1.2vw 0px;
}

.top-news h4 {
  font-size: 1.5vw;
}

.top-news-item>a {
  color: #808080;
  font-size: 1.5vw;
}

score-table {
  width: 100%;
  margin: 10px 0px;
  border: 0px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 7px;
  font-size: 1.5vw;
}

.latest-news-item>img {
  width: 10vw;
  height: auto;
  float: left;
  padding: 0.5vw;
}

.latest-news-item>h4 {
  padding: 8px 0px 0px 0px;
  font-size: 1.3vw;
}

.latest-news-item>p {
  font-size: 1.2vw;
}

footer {
  border-top: 0.2px solid #e3e8ef;
  border-bottom: 0.2px solid #e3e8ef;
  box-shadow: 0px 10px 5px -5px #e3e8ef;
}

footer a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.3vw;
}

@media only screen and (max-width: 992px) {
  body {
    padding: 0px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  div.news {
    width: 58vw;
    height: 60vh;
    display: flex;
  }

  div.weather {
    order: -1;
    width: 38vw;
    height: 60vh;
  }

  div.news {
    order: -1;
  }

  div.topnews {
    width: 100%;
    height: auto;
  }

  div.score-table {
    width: 100%;
    height: auto;
  }

  .main-news {
    border: 0px;
    height: 60vh;
  }

  .main-news-text {
    bottom: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 30%;
  }

  .main-news-text>h3 {
    color: #ffffff;
    text-shadow: 0 0 3px #FFffff;
  }

  .main-news-text>p {
    color: #bfbfbf;
  }

  .weather {
    height: 59vh;
    padding: 0.2vw;
  }

  div.item {
    width: 15%;
  }

  .weather-info>img {
    width: 35%;
    height: auto;
  }

  .weather-info>h3 {
    font-size: 3vw;
  }

  th {
    background-color: hsla(188, 33%, 1%, 0.45);
  }

  tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
}

@media only screen and (max-width: 786px) {
  header {
    border-bottom: 0px;
    box-shadow: 0px 0px;
    padding: 0px 5px 5px 0px;
  }

  .hamburger {
    display: block;
    width: 20px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

  .navbar1 {
    display: none;
  }

  .main-news {
    width: 100%;
    height: 30%;
  }

  .main-news-text>h3 {
    font-size: 3vw;
  }

  .main-news-text>p {
    font-size: 2vw;
  }

  .top-news-item>a {
    font-size: 2vw;
  }

  div.news {
    width: 100%;
    height: 30%;
    display: flex;
  }

  div.weather {
    order: 1;
    width: 100%;
    height: 30%;
  }

  .top-news {
    display: none;
  }

  .section>img {
    width: 15vw;
  }

  .latest-news-item>h4 {
    padding: 3px 0px 0px 0px;
    font-size: 1.7vw;
  }

  .latest-news-item>p {
    font-size: 1.5vw;
  }
}
